<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">


    <title>CPB Tool - Detection</title>

  </head>

  <body class="bg-light">

    <div class="container">
      <div id="headerTitle" class="py-5 text-center mb-5">
        <div id="infoDiv w-100" class="py-5 text-center mb-5">
          <img class="d-block mx-auto mb-5" src="/static/assets/aub_logo.png" alt="aub-logo" width="224" height="144">
          <h2>Welcome to the CPB Image Generation and Pest Detection Tool!</h2>
          <p class="lead mt-5 px-4">
            These applications were developed by the <a href="//sites.aub.edu.lb/hmlab/">Humans and Machines Lab</a>
            at the <a href="//aub.edu.lb">American University of Beirut</a> under the <a href="//aub.edu.lb/fafs/WEFRAH/Pages/default.aspx">WEFRAH</a> initiative, tackling plant health.
          </p>
          <p class="lead pb-0 mb-2 px-4">
            The <a href="/gen" style="color: #32a852; font-weight:bold;">Generation</a> app can be used to label objects within images using bounding boxes, and even artificially augment these images with new objects to reduce data collection and labeling efforts.
          </p>
          <p class="lead pb-0 mb-4 px-4">
            The <a href="/det" style="color: #32a852; font-weight:bold;">Detection</a> app can be used to detect <i>Bemisia tabaci</i> whiteflies on plant leaves.
          </p>
          <a class="btn btn-primary btn-lg btn-block w-50 mx-auto bg-success text-white border-success" href="/gen">
            <i class="far fa-edit" aria-hidden="true"></i>
              Generate
          </a>
          <a class="btn btn-primary btn-lg btn-block w-50 mx-auto bg-success text-white border-success" href="/det">
            <i class="fas fa-crosshairs" aria-hidden="true"></i>
              Detect
          </a>
        </div>
      </div>

      <div class="row" id="mainRow">

      </div>
    </div>

    <footer id="footer" class="footer text-muted text-center text-small pt-3">
      &copy; 2020-2021 <a href="//sites.aub.edu.lb/hmlab/">Humans and Machines Lab</a> at the <a href="//aub.edu.lb">American University of Beirut</a>.
    </footer>

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
</html>
